body {
    background-color: lightgray;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    margin-top: 1em;
}

img {
    width: 10em;
}

.btn:hover {
    cursor: pointer;
    color: white;
    border: solid white 1px;
    background-color: rgba(0, 0, 0, 0.4);
}